@media screen and (min-width: 768px) {
    *::-webkit-scrollbar {
      width: 16px;
    }
  
    *::-webkit-scrollbar-track {
      background: #eeeeee;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #a9a9a9;
      border-radius: 999999px;
      border: 1px solid #ffffff;
    }
  
    header > nav{
      justify-content: space-around;
    }
  
    header > nav > img.material-symbols-outlined {
      display: none;
    }
  
    header > nav > menu {
      position: static;
      transform: translateY(0);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto;
      background-color: white;
    }
  
    header > nav > menu > img.material-symbols-outlined {
      display: none;
      margin-top: 80px;
      margin-bottom: 50px;
      font-size: 60px;
    }
  
    header > nav > menu > a {
      display: block;
      position: static;
      margin-right: 0;
      width: 100px;
      padding: 0px;
      border: none;
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  
    header > nav > menu > a:nth-child(4) {
      padding-bottom: 0px;
      margin-right: var(--gap-l);
    }
  
    header > nav > menu > a.fale-conosco {
      position: static;
      width: auto;
      padding: 10px 20px;
      margin-right: 0;
      margin-top: 0;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      color: white;
      border-radius: 99999px;
      background-color: #7c0f0c;
      transition: transform .3s;
    }
  
    header > nav > menu > a.fale-conosco:hover{
      transform: scale(1.1);
      transition: transform .3s;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
      
    }
  
    button#whatsapp {
      background-color: transparent;
      position: fixed;
      bottom: 30px;
      right: 50px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
    }
    
    button#whatsapp > a {
      position: fixed;
      bottom: 30px;
      right: 50px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background-color: #25d366;
      background-image: url("../imagens/WhatsApp.svg");
      background-size: cover;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      margin: 0;
      color: black;
      background-color: var(--secundary-bg);
    }
    
    footer > img {
      width: 100px;
      height: 70px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 0;
      margin-top: var(--gap-xxl);
      margin-bottom: var(--gap-l);
    }
  
    footer > div#footer-content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    footer > div#footer-content > div:nth-child(2){
      margin-left: 200px;
    }
    
    footer > div#footer-content > div > h2 {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: var(--gap-s);
      text-align: left;
      font-weight: bold;
      font-size: 1.1em;
    }
    
    footer > div#footer-content > div > div.patriocinadores {
      display: flex;
      justify-content: left;
    }
    
    footer > div#footer-content > div > div.patriocinadores > a {
      width: 50px;
      padding: 0;
      margin: 0;
      padding-right: var(--gap-xl);
    }
  
    footer > div#footer-content > div > div.patriocinadores > a:nth-child(4){
      padding-right: 0;
    }
    
    footer > div#footer-content > div > div.patriocinadores > a > img {
      width: 45px;
      height: 30px;
    }
      
    footer > div#footer-content > div > h2#redes {
      margin: 0;
      margin-bottom: var(--gap-s);
      font-size: 1.1em;
      padding-top: 0;
    }
    
    footer > div#footer-content > div > div#logos {
      display: flex;
      justify-content: left;
      margin: 0;
      padding-bottom: 0;
    }
    
    footer > div#footer-content > div > div#logos > a {
      width: 30px;
      height: 30px;
      margin: 0;
      margin-right: var(--gap-xl);
    }
  
    footer > div#footer-content > div > div#logos > a:nth-child(1){
      margin-left: 0;
    }
  
    footer > div#footer-content > div > div#logos > a:nth-child(2){
      margin-right: 0;
    }
    
    footer > div#footer-content > div > div#logos > a > img {
      width: 30px;
      height: 30px;
      margin: 0;
      padding: 0;
    }
    
    footer p {
      font-size: 14px;
      font-weight: lighter;
      text-align: center;
    }
    
    footer > a#entre-em-contato {
      display: block;
      margin: 0 auto;
      margin-top: 80px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color: white;
      padding: 15px 50px;
      border-radius: 99999px;
      background-color: #7c0f0c;
      transition: transform .3s;
    }
  
    footer > a#entre-em-contato:hover{
      transform: scale(1.1);
      transition: transform .3s;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    }
  }
  
  /* KEYFRAMES */
  
  @keyframes slidein {
    from{
      transform: translateX(calc(100vw - 1000px));
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }