@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --button-fundo: #201d1d;
  --button: #7c0f0c;
  --cinza-leve: #f7f7f7;
  --cinza-destaque: #bdbdbd;
  --verde-whats: #25d366;
  --secundary-bg: #eeeeee;
  --gap-xs: 0.128rem;
  --gap-s: 0.272rem;
  --gap-m: 0.618rem;
  --gap-l: 1rem;
  --gap-xl: 1.618rem;
  --gap-xxl: 2.618rem;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 999999px;
  border: 1px solid #ffffff;
}

body,
html {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}

body{
  background-color: white;
}

h1 {
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header > nav {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  width: 100vw;
}

header > nav > a > img {
  width: 80px;
  height: 50px;
}

header > nav > img.material-symbols-outlined {
  width: 60px;
  height: 60px;
}

header > nav > menu {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 0;
  transform: translateY(-10%);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

header > nav > menu > img.material-symbols-outlined {
  width: 35px;
  height: 35px;
  margin-top: 80px;
  margin-bottom: var(--gap-xxl);
}

header > nav > menu > a {
  display: block;
  position: relative;
  padding: var(--gap-m) 0;
  border: solid grey 1px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

header > nav > menu > a:hover{
  color: rgb(129, 129, 129);
}

header > nav > menu > a:nth-child(3){
  border: none;
}

header > nav > menu > a.fale-conosco {
  position: relative;
  width: 200px;
  margin-top: var(--gap-m);
  padding: 12px 0px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 99999px;
  background-color: var(--button);
}

header > nav > menu > a.fale-conosco:hover{
    background-color: #d8251f;
    color: #eee;
}

button#whatsapp {
  background-color: transparent;
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

button#whatsapp > a {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--verde-whats);
  background-image: url("../imagens/WhatsApp.svg");
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: black;
  background-color: var(--secundary-bg);
}

footer > img {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 0;
}

footer > div#footer-content > div > h2 {
  margin: 0;
  margin-top: var(--gap-xl);
  margin-bottom: var(--gap-s);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

footer > div#footer-content > div > div {
  display: flex;
}

footer > div#footer-content > div > div > a {
  width: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

footer > div#footer-content > div > div > a > img {
  width: 40px;
  height: 25px;
  margin: 0 auto;
}

footer > div#footer-content > div > h2#redes {
  margin-top: var(--gap-l);
}

footer > div#footer-content > div > div#logos {
  display: flex;
  justify-content: center;
  margin-bottom: var(--gap-xxl);
}

footer > div#footer-content > div > div#logos > a {
  width: 25px;
  height: 25px;
  margin: 0 20px;
}

footer > div#footer-content > div > div#logos > a > img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

footer > a#entre-em-contato {
  display: block;
  margin: 0px 80px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 99999px;
  background-color: var(--button);
}

footer > a#entre-em-contato:hover{
  background-color: #d8251f;
  color: #eee;
}

@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeoutmenu{
  0%{
    opacity: 1;
    display: flex;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes fadeout{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
